<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (book(); as bookRef) {
      <div>
        <h2 data-cy="bookDetailsHeading"><span jhiTranslate="libraryApp.book.detail.title">Book</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bookRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.book.isbn">Isbn</span></dt>
          <dd>
            <span>{{ bookRef.isbn }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.book.name">Name</span></dt>
          <dd>
            <span>{{ bookRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.book.publishYear">Publish Year</span></dt>
          <dd>
            <span>{{ bookRef.publishYear }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.book.copies">Copies</span></dt>
          <dd>
            <span>{{ bookRef.copies }}</span>
          </dd>
          <dt><span jhiTranslate="libraryApp.book.cover">Cover</span></dt>
          <dd>
            @if (bookRef.cover) {
              <div>
                <a (click)="openFile(bookRef.cover, bookRef.coverContentType)">
                  <img [src]="'data:' + bookRef.coverContentType + ';base64,' + bookRef.cover" style="max-width: 100%" alt="book" />
                </a>
                {{ bookRef.coverContentType }}, {{ byteSize(bookRef.cover) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="libraryApp.book.publisher">Publisher</span></dt>
          <dd>
            @if (book()!.publisher) {
              <div>
                <a [routerLink]="['/publisher', book()!.publisher?.id, 'view']">{{ bookRef.publisher?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="libraryApp.book.author">Author</span></dt>
          <dd>
            @for (author of bookRef.authors; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/author', author.id, 'view']">{{ author?.firstName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/book', bookRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
